<template>
    <div>
        <h1>Lazy loading</h1>
        <LazyWelcome v-if="show" />
        <PrimeButton @click="show = !show" label="Show Welcome" />


    </div>
</template>

<script setup>

    const show = ref(false)
</script>

<style lang="scss" scoped>
    

</style>