<template>
  <div>
    <h1>Error {{ error.statusCode}}</h1>
    <p>Error {{ error.message}}</p>
    <PrimeButton @click="handleError" label="Clear Error" />
  </div>
</template>

<script setup>

  defineProps(['error'])

  const handleError = () => {
    clearError({
      redirect: '/'
    })

  }
</script>

<style lang="scss" scoped>

</style>