<template>
  <div>
    <h1> Counter Compos State : {{ counterCompos }}</h1>
    <PrimeButton @click="counterCompos++" label="Increment Compos State"/>
    <NuxtLink to="/states/state1">State 1</NuxtLink>
  </div>
</template>

<script setup>
const counterCompos = useCounter()
</script>

<style lang="scss" scoped>

</style>