<template>
  <div>
    <h1> Rank Shallow State : {{ rank }}</h1>
    <PrimeButton @click="changeRank" label="Change Rank"/>

    <NuxtLink to="/states/state1" >State</NuxtLink>

  </div>
</template>

<script setup>
  const rank = useState('rank', () => {
    return shallowRef({
      num: 3
    })
  })

  const changeRank = () => {
    rank.value.num = 10
    console.log(rank.value)
  }


</script>

<style lang="scss" scoped>

</style>