<template>
  <div>
    <h1> Counter Shared State : {{counterState}}</h1>
    <PrimeButton @click="counterState++" label="Increment Counter Shared State" />
    <NuxtLink to="/states/state1" >State 1</NuxtLink>
  </div>
</template>

<script setup>
const counterState = useState('counterState', () => 1)

</script>

<style lang="scss" scoped>

</style>