<template>
  <div>
    <h1>Counter : {{ counter }}</h1> <h1>Counter 2 : {{ counterOne }}</h1>
    <PrimeButton @click="counter++" label="Increment" />
    <PrimeButton @click="counterOne++" label="Increment" />
    <NuxtLink to="/states/state1" >State 1</NuxtLink>
  </div>
</template>

<script setup>
const counter = useState( () => 1)
const counterOne = ref(1);

</script>

<style lang="scss" scoped>

</style>