<template>
  <div>
    <h1>Counter : {{ counter }}</h1>
    <h1> Counter Shared State : {{counterState}}</h1>
    <h1> Counter Compos State : {{counterCompos}}</h1>
    <h1> Counter Shallow State : {{counterCompos}}</h1>
    <PrimeButton @click="counter++" label="Increment" />
    <NuxtLink to="/states/state2" >State 2</NuxtLink>
    <NuxtLink to="/states/shared-state" >Shared State </NuxtLink>
    <NuxtLink to="/states/compos-state" >Compos State </NuxtLink>
    <NuxtLink to="/states/shallow" >Shallow State </NuxtLink>
  </div>
</template>

<script setup>
const counter = useState( () => 1)
const counterState = useState('counterState', () => 1)
const counterCompos = useCounter()


</script>

<style lang="scss" scoped>

</style>