<template>
  <div class="p-5 flex flex-column flex-auto">
    <div class="border-2 border-dashed border-round flex-auto border-white-alpha-10">
      <slot />
    </div>
  </div>
</template>

<style scoped>
/* Add any styles specific to the main content area */
</style>
