<script setup>
import { ref } from 'vue';
const props = defineProps({
  icon: String,
  label: String,
  badge: String,
  items: Array,
  isCollapsed: Boolean
});

const showSubmenu = ref(false);
</script>

<template>
  <li>
    <a class="flex align-items-center cursor-pointer p-3 text-gray-300 transition-duration-150 transition-colors" @click="showSubmenu = !showSubmenu" v-ripple>
      <i :class="`${icon} mr-2`"></i>
      <span v-if="!isCollapsed" class="font-medium">{{ label }}</span>
      <span v-if="badge && !isCollapsed" class="inline-flex align-items-center justify-content-center ml-auto bg-blue-500 text-0 border-circle" style="min-width: 1.5rem; height: 1.5rem">{{ badge }}</span>
      <i v-if="items && items.length && !isCollapsed" :class="['pi', showSubmenu ? 'pi-chevron-up' : 'pi-chevron-down', 'ml-auto']"></i>
    </a>
    <ul v-if="items && items.length" :class="['list-none', 'py-0', 'pl-3', 'pr-0', 'm-0', 'overflow-hidden', 'transition-all', 'transition-duration-400', 'transition-ease-in-out', { 'hidden': !showSubmenu }]">
      <MenuItem v-for="(child, index) in items" :key="index" :icon="child.icon" :label="child.label" :badge="child.badge" :items="child.items" :isCollapsed="isCollapsed" />
    </ul>
  </li>
</template>

<style scoped>
/* Add any styles specific to the menu item component */
</style>
