<script setup>
import MenuItem from './MenuItem.vue';

const props = defineProps({
  menuItems: Array
});
</script>

<template>
  <div>
    <ul class="list-none p-0 m-0 pr-4">
      <li v-for="(group, index) in menuItems" :key="index">
        <div v-ripple class="p-3 flex align-items-start text-gray-500 cursor-pointer p-ripple"
             v-styleclass="{ selector: '@next', enterClass: 'hidden', enterActiveClass: 'slidedown', leaveToClass: 'hidden', leaveActiveClass: 'slideup'}">
          <i class="pi pi-chevron-down mr-2"></i>
          <span class="font-medium mr-auto">{{ group.label }}</span>
        </div>
        <ul class="list-none p-0 m-0 overflow-hidden clubs-sidebar-menu">
          <MenuItem v-for="(item, subIndex) in group.items" :key="subIndex" :icon="item.icon" :label="item.label" :badge="item.badge" :items="item.items" />
        </ul>
      </li>
    </ul>
  </div>
</template>

<style scoped>
/* Add any styles specific to the menu component */
</style>
