<script setup>
import Menu from './Menu.vue';

const isCollapsed = ref(false);


const menuData = [
  {
    "label": "FAVORITES",
    "items": [
      {"icon": "pi pi-home", "label": "Dashboard"},
      {"icon": "pi pi-bookmark", "label": "Bookmarks"},
      {
        "icon": "pi pi-chart-line",
        "label": "Reports",
        "items": [
          {
            "icon": "pi pi-chart-line", "label": "Revenue", "items": [
              {"icon": "pi pi-table", "label": "View"},
              {"icon": "pi pi-search", "label": "Search"}
            ]
          },
          {"icon": "pi pi-chart-line", "label": "Expenses"}
        ]
      },
      {"icon": "pi pi-users", "label": "Team"},
      {"icon": "pi pi-comments", "label": "Messages", "badge": "3"},
      {"icon": "pi pi-calendar", "label": "Calendar"},
      {"icon": "pi pi-cog", "label": "Settings"}
    ]
  },
  {
    "label": "APPLICATION",
    "items": [
      {"icon": "pi pi-folder", "label": "Projects"},
      {"icon": "pi pi-chart-bar", "label": "Performance"},
      {"icon": "pi pi-cog", "label": "Settings"}
    ]
  }
];
</script>

<template>
  <div
      id="app-sidebar-8"
      :class="['sidebar', { 'collapsed': isCollapsed }, isCollapsed ? ' animate__fadeOutLeft' : 'animate__animated animate__fadeInLeft']"
      class="h-screen hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 border-right-1 select-none border-white-alpha-10"
      style="background-image: linear-gradient(60deg, #29323c 0%, #2f3844 100%);"
  >
    <div class="flex flex-column h-full">
      <div class="clubs_sidebar">
        <div class="clubs-sidebar-toggle" @click="isCollapsed = !isCollapsed" v-ripple>
          <span><i :class="['pi', isCollapsed ? 'pi-arrow-right' : 'pi-arrow-left']"></i></span>
        </div>
      </div>
      <div v-if="!isCollapsed" key="logo" class="flex align-items-center px-3 pt-7 pb-5 flex-shrink-0"
           style="height:60px">
        <svg width="173" height="62" viewBox="0 0 173 62" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M118.813 2.50251L116.068 9.20973C115.725 9.05496 115.43 8.93502 115.138 8.80153C112.733 7.69688 110.237 7.02171 107.567 7.24612C107.002 7.29449 106.381 7.38154 105.914 7.66206C105.507 7.90969 105.069 8.43976 105.04 8.87505C105.017 9.24262 105.48 9.86169 105.86 9.99711C107.137 10.4517 108.477 10.7303 109.787 11.0863C111.566 11.5777 113.394 11.9452 115.105 12.6088C121.687 15.1586 120.927 22.9356 116.965 26.0639C114.994 27.6193 112.737 28.397 110.298 28.7452C105.3 29.4533 100.53 28.6794 95.9756 26.5011C95.7229 26.3792 95.3062 26.4759 95.013 26.592C93.927 27.0234 92.8641 27.5071 91.6257 28.0429C91.5833 27.5206 91.5428 27.2362 91.5428 26.9538C91.5428 25.4951 91.4676 24.0306 91.5544 22.5758C91.7087 19.9738 90.9814 17.8902 88.3503 16.7082C89.5096 15.8125 90.1848 14.702 89.8356 13.3594C89.6099 12.5527 89.1431 11.8369 88.4969 11.3049C86.9981 10.1403 84.9726 10.7226 84.0081 12.4792C85.5494 13.7231 86.6933 15.2611 87.081 17.2596C87.218 17.9773 87.2874 18.7066 87.2932 19.436C87.3202 21.8987 87.3067 24.3614 87.3048 26.8242C87.3048 27.153 87.2701 27.4819 87.2488 27.8688H85.7674C85.75 27.5283 85.7172 27.2072 85.7172 26.8822C85.7172 24.3943 85.6902 21.8948 85.7172 19.4011C85.7558 16.2362 84.4248 13.9766 81.4715 12.7404C81.4001 12.6978 81.3345 12.6456 81.2767 12.5856C83.9252 9.91779 84.2357 7.48021 82.1929 5.55142C80.4896 3.93604 77.8026 4.01149 76.1918 5.71973C76.1398 5.77584 76.0877 5.83387 76.0375 5.89191C74.2976 7.94064 74.7721 10.4769 77.3338 12.5372C77.166 12.6494 76.9943 12.7539 76.8168 12.8487C74.1818 14.0713 72.8663 16.1472 72.8508 19.0471C72.8373 21.6317 72.8508 24.2163 72.8508 26.799V27.8437H71.3539C71.3346 27.4955 71.3076 27.1704 71.3057 26.8474C71.3057 24.3247 71.3366 21.8 71.2941 19.2773C71.2498 16.6772 72.1834 14.5395 74.1278 12.8371C74.2358 12.7558 74.3516 12.6862 74.4731 12.6301C73.8963 11.3455 72.8798 10.6936 71.6124 10.7419C70.2737 10.7942 69.286 11.4461 68.7903 12.6881C68.1402 14.3016 68.7401 15.5842 70.0557 16.6579C69.8667 16.7798 69.7259 16.8842 69.5715 16.9694C67.7776 17.9444 66.9057 19.4688 66.8941 21.5002C66.8844 22.9298 66.8632 24.3595 66.9057 25.7872C66.923 26.3869 66.705 26.7313 66.2054 27.0312C63.175 28.8245 59.8764 29.1863 56.4602 28.8961C53.5802 28.6543 50.9509 27.7624 48.7557 25.7872C48.2909 25.3674 47.8048 24.9669 47.2897 24.5297C47.2897 25.4912 47.2608 26.5107 47.3013 27.5283C47.3264 28.1493 47.1161 28.366 46.4757 28.3641C39.8959 28.3409 33.318 28.337 26.7401 28.3563C25.9377 28.3563 25.6464 28.099 25.7371 27.2981C25.7737 26.7506 25.7776 26.2031 25.7486 25.6537C24.1881 26.4585 22.7818 27.3736 21.2521 27.9404C16.1847 29.815 8.64808 29.3507 4.06865 24.5549C0.174009 20.5019 -0.840643 15.6229 0.665902 10.3047C2.18788 4.93429 5.93784 1.70159 11.2985 0.548579C16.3178 -0.530921 21.1383 0.0301094 25.357 3.33245C25.4728 3.39629 25.5962 3.44853 25.7216 3.48722C25.7216 2.73079 25.6715 2.04208 25.7467 1.36691C25.7756 1.11154 26.092 0.685935 26.281 0.684C29.0993 0.649178 31.9175 0.674327 34.7377 0.684C34.7898 0.684 34.84 0.736234 34.9789 0.811683V20.9778H45.5498C44.456 14.5473 45.1736 8.07219 45 1.62421C45 1.3553 45.027 1.08639 45.0482 0.740103H54.2225C54.2399 1.09607 54.2669 1.4501 54.2669 1.80219C54.2765 6.57482 54.2515 11.3494 54.3132 16.122C54.3383 17.1512 54.5312 18.1688 54.8842 19.1361C55.4571 20.7244 56.7553 21.3357 58.4046 21.3261C60.023 21.3183 61.2826 20.705 61.8401 19.1496C62.1931 18.1823 62.386 17.1628 62.4111 16.1336C62.4728 11.361 62.4651 6.58643 62.4304 1.8138C62.4304 0.937431 62.5847 0.61629 63.5608 0.624028C71.3231 0.676262 79.0834 0.624028 86.8438 0.701412C88.3947 0.716888 89.9803 1.01288 91.4946 1.39593C93.7573 1.9647 95.5589 3.25313 96.591 5.43922C96.6643 5.42761 96.7453 5.43922 96.7665 5.4102C98.7611 2.04788 101.95 0.682066 105.603 0.204223C109.834 -0.372285 114.141 0.277737 118.016 2.07884C118.254 2.18331 118.485 2.32647 118.811 2.50251H118.813ZM21.717 10.8696C20.9416 10.1693 20.3224 9.51153 19.6048 8.95436C16.8039 6.75861 10.8394 7.05073 9.63959 12.5411C9.42547 13.6399 9.39075 14.7678 9.53735 15.8783C9.80934 18.252 10.9995 20.0763 13.2931 20.9314C15.6388 21.8039 17.8938 21.5389 19.8652 19.8906C20.4844 19.3721 21.0072 18.7298 21.6283 18.0876L25.6599 21.7246V7.30416L21.717 10.8696ZM93.5586 13.9398C95.7673 14.8549 97.3799 16.3387 98.0744 18.7086C98.167 18.9562 98.3502 19.1612 98.5836 19.2831C101.994 20.974 105.541 22.0902 109.411 21.6491C110.075 21.5737 110.754 21.3377 110.875 20.5155C110.989 19.7378 110.445 19.3683 109.843 19.0916C109.49 18.9175 109.12 18.7821 108.738 18.6892C107.418 18.3952 106.082 18.1727 104.768 17.8535C101.03 16.9307 97.4011 15.8434 96.0528 11.6454L93.5567 13.9398H93.5586Z"
              fill="white"/>
          <path
              d="M7.042 56L6.202 53.452H2.716L1.876 56H0.014L3.514 46.06H5.404L8.904 56H7.042ZM4.48 47.782H4.452C4.452 47.782 4.228 48.762 4.032 49.322L3.15 51.982H5.754L4.872 49.322C4.69 48.762 4.48 47.782 4.48 47.782ZM9.40406 52.43C9.40406 50.162 10.7481 48.692 12.6381 48.692C14.2061 48.692 14.6961 49.602 14.6961 49.602H14.7241C14.7241 49.602 14.7101 49.42 14.7101 49.196V46.06H16.4881V56H14.8081V55.412C14.8081 55.146 14.8361 54.95 14.8361 54.95H14.8081C14.8081 54.95 14.2061 56.168 12.5681 56.168C10.6361 56.168 9.40406 54.642 9.40406 52.43ZM11.1961 52.43C11.1961 53.788 11.9241 54.67 12.9741 54.67C13.8981 54.67 14.7661 53.998 14.7661 52.416C14.7661 51.31 14.1781 50.218 12.9881 50.218C12.0081 50.218 11.1961 51.016 11.1961 52.43ZM18.4527 56V48.86H20.1607V49.686C20.1607 49.952 20.1327 50.176 20.1327 50.176H20.1607C20.5107 49.476 21.3647 48.692 22.4847 48.692C23.5767 48.692 24.2767 49.196 24.5707 50.162H24.5987C24.9907 49.392 25.9147 48.692 27.0347 48.692C28.5187 48.692 29.3727 49.532 29.3727 51.408V56H27.5947V51.744C27.5947 50.932 27.4407 50.316 26.6147 50.316C25.7047 50.316 25.1027 51.044 24.8927 51.94C24.8227 52.22 24.8087 52.528 24.8087 52.864V56H23.0307V51.744C23.0307 50.974 22.9047 50.316 22.0647 50.316C21.1407 50.316 20.5387 51.044 20.3147 51.954C20.2447 52.22 20.2307 52.542 20.2307 52.864V56H18.4527ZM31.2359 47.642V46.06H32.9999V47.642H31.2359ZM31.2359 56V48.86H33.0139V56H31.2359ZM34.9683 56V48.86H36.6763V49.686C36.6763 49.952 36.6483 50.176 36.6483 50.176H36.6763C36.9843 49.574 37.7683 48.692 39.2103 48.692C40.7923 48.692 41.6883 49.518 41.6883 51.408V56H39.9243V51.772C39.9243 50.904 39.7003 50.316 38.7903 50.316C37.8383 50.316 37.1383 50.918 36.8723 51.772C36.7743 52.066 36.7463 52.388 36.7463 52.724V56H34.9683ZM43.5542 47.642V46.06H45.3182V47.642H43.5542ZM43.5542 56V48.86H45.3322V56H43.5542ZM46.6846 55.118L47.4966 53.872C47.4966 53.872 48.2806 54.656 49.4426 54.656C49.9466 54.656 50.3806 54.432 50.3806 54.012C50.3806 52.948 46.9086 53.088 46.9086 50.792C46.9086 49.462 48.0986 48.692 49.6386 48.692C51.2486 48.692 52.0326 49.504 52.0326 49.504L51.3746 50.82C51.3746 50.82 50.7166 50.204 49.6246 50.204C49.1626 50.204 48.7146 50.4 48.7146 50.848C48.7146 51.856 52.1866 51.73 52.1866 54.026C52.1866 55.216 51.1506 56.168 49.4566 56.168C47.6786 56.168 46.6846 55.118 46.6846 55.118ZM53.9247 53.382V50.386H53.0007V48.972H53.9667V46.914H55.7027V48.972H57.3267V50.386H55.7027V53.158C55.7027 54.334 56.6267 54.502 57.1167 54.502C57.3127 54.502 57.4387 54.474 57.4387 54.474V56.028C57.4387 56.028 57.2287 56.07 56.8927 56.07C55.8987 56.07 53.9247 55.776 53.9247 53.382ZM58.8941 56V48.86H60.6021V50.092C60.6021 50.358 60.5741 50.596 60.5741 50.596H60.6021C60.9241 49.574 61.7781 48.762 62.8701 48.762C63.0381 48.762 63.1921 48.79 63.1921 48.79V50.54C63.1921 50.54 63.0101 50.512 62.7721 50.512C62.0161 50.512 61.1621 50.946 60.8261 52.01C60.7141 52.36 60.6721 52.752 60.6721 53.172V56H58.8941ZM63.7882 53.942C63.7882 51.674 66.8542 51.52 68.0162 51.52H68.2542V51.422C68.2542 50.484 67.6662 50.162 66.8822 50.162C65.8602 50.162 64.9222 50.848 64.9222 50.848L64.2502 49.574C64.2502 49.574 65.3562 48.692 67.0502 48.692C68.9262 48.692 70.0182 49.728 70.0182 51.534V56H68.3802V55.412C68.3802 55.132 68.4082 54.908 68.4082 54.908H68.3802C68.3942 54.908 67.8342 56.168 66.2102 56.168C64.9362 56.168 63.7882 55.37 63.7882 53.942ZM65.5802 53.858C65.5802 54.334 65.9302 54.782 66.6582 54.782C67.5962 54.782 68.2682 53.774 68.2682 52.906V52.738H67.9602C67.0502 52.738 65.5802 52.864 65.5802 53.858ZM72.1357 53.382V50.386H71.2117V48.972H72.1777V46.914H73.9137V48.972H75.5377V50.386H73.9137V53.158C73.9137 54.334 74.8377 54.502 75.3277 54.502C75.5237 54.502 75.6497 54.474 75.6497 54.474V56.028C75.6497 56.028 75.4397 56.07 75.1037 56.07C74.1097 56.07 72.1357 55.776 72.1357 53.382ZM77.105 47.642V46.06H78.869V47.642H77.105ZM77.105 56V48.86H78.883V56H77.105ZM80.3054 52.43C80.3054 50.246 82.0554 48.692 84.2254 48.692C86.4094 48.692 88.1594 50.246 88.1594 52.43C88.1594 54.628 86.4094 56.168 84.2394 56.168C82.0554 56.168 80.3054 54.628 80.3054 52.43ZM82.1114 52.43C82.1114 53.76 83.0774 54.656 84.2394 54.656C85.3874 54.656 86.3534 53.76 86.3534 52.43C86.3534 51.114 85.3874 50.204 84.2394 50.204C83.0774 50.204 82.1114 51.114 82.1114 52.43ZM89.5874 56V48.86H91.2954V49.686C91.2954 49.952 91.2674 50.176 91.2674 50.176H91.2954C91.6034 49.574 92.3874 48.692 93.8294 48.692C95.4114 48.692 96.3074 49.518 96.3074 51.408V56H94.5434V51.772C94.5434 50.904 94.3194 50.316 93.4094 50.316C92.4574 50.316 91.7574 50.918 91.4914 51.772C91.3934 52.066 91.3654 52.388 91.3654 52.724V56H89.5874ZM101.858 56V46.06H105.246C108.312 46.06 110.314 47.88 110.314 51.016C110.314 54.152 108.312 56 105.246 56H101.858ZM103.664 54.446H105.148C107.164 54.446 108.452 53.256 108.452 51.016C108.452 48.804 107.136 47.614 105.148 47.614H103.664V54.446ZM111.325 53.942C111.325 51.674 114.391 51.52 115.553 51.52H115.791V51.422C115.791 50.484 115.203 50.162 114.419 50.162C113.397 50.162 112.459 50.848 112.459 50.848L111.787 49.574C111.787 49.574 112.893 48.692 114.587 48.692C116.463 48.692 117.555 49.728 117.555 51.534V56H115.917V55.412C115.917 55.132 115.945 54.908 115.945 54.908H115.917C115.931 54.908 115.371 56.168 113.747 56.168C112.473 56.168 111.325 55.37 111.325 53.942ZM113.117 53.858C113.117 54.334 113.467 54.782 114.195 54.782C115.133 54.782 115.805 53.774 115.805 52.906V52.738H115.497C114.587 52.738 113.117 52.864 113.117 53.858ZM118.804 55.118L119.616 53.872C119.616 53.872 120.4 54.656 121.562 54.656C122.066 54.656 122.5 54.432 122.5 54.012C122.5 52.948 119.028 53.088 119.028 50.792C119.028 49.462 120.218 48.692 121.758 48.692C123.368 48.692 124.152 49.504 124.152 49.504L123.494 50.82C123.494 50.82 122.836 50.204 121.744 50.204C121.282 50.204 120.834 50.4 120.834 50.848C120.834 51.856 124.306 51.73 124.306 54.026C124.306 55.216 123.27 56.168 121.576 56.168C119.798 56.168 118.804 55.118 118.804 55.118ZM125.736 56V46.06H127.514V49.504C127.514 49.854 127.486 50.106 127.486 50.106H127.514C127.864 49.42 128.732 48.692 129.978 48.692C131.56 48.692 132.456 49.518 132.456 51.408V56H130.692V51.772C130.692 50.904 130.468 50.316 129.558 50.316C128.62 50.316 127.892 50.932 127.626 51.8C127.542 52.08 127.514 52.388 127.514 52.724V56H125.736ZM134.322 56V46.06H136.1V49.126C136.1 49.476 136.072 49.728 136.072 49.728H136.1C136.1 49.728 136.73 48.692 138.242 48.692C140.174 48.692 141.406 50.218 141.406 52.43C141.406 54.698 140.02 56.168 138.13 56.168C136.646 56.168 136.002 55.104 136.002 55.104H135.974C135.974 55.104 136.002 55.314 136.002 55.594V56H134.322ZM136.044 52.472C136.044 53.578 136.632 54.67 137.822 54.67C138.802 54.67 139.614 53.872 139.614 52.458C139.614 51.1 138.886 50.218 137.836 50.218C136.912 50.218 136.044 50.89 136.044 52.472ZM142.348 52.43C142.348 50.246 144.098 48.692 146.268 48.692C148.452 48.692 150.202 50.246 150.202 52.43C150.202 54.628 148.452 56.168 146.282 56.168C144.098 56.168 142.348 54.628 142.348 52.43ZM144.154 52.43C144.154 53.76 145.12 54.656 146.282 54.656C147.43 54.656 148.396 53.76 148.396 52.43C148.396 51.114 147.43 50.204 146.282 50.204C145.12 50.204 144.154 51.114 144.154 52.43ZM151.028 53.942C151.028 51.674 154.094 51.52 155.256 51.52H155.494V51.422C155.494 50.484 154.906 50.162 154.122 50.162C153.1 50.162 152.162 50.848 152.162 50.848L151.49 49.574C151.49 49.574 152.596 48.692 154.29 48.692C156.166 48.692 157.258 49.728 157.258 51.534V56H155.62V55.412C155.62 55.132 155.648 54.908 155.648 54.908H155.62C155.634 54.908 155.074 56.168 153.45 56.168C152.176 56.168 151.028 55.37 151.028 53.942ZM152.82 53.858C152.82 54.334 153.17 54.782 153.898 54.782C154.836 54.782 155.508 53.774 155.508 52.906V52.738H155.2C154.29 52.738 152.82 52.864 152.82 53.858ZM159.109 56V48.86H160.817V50.092C160.817 50.358 160.789 50.596 160.789 50.596H160.817C161.139 49.574 161.993 48.762 163.085 48.762C163.253 48.762 163.407 48.79 163.407 48.79V50.54C163.407 50.54 163.225 50.512 162.987 50.512C162.231 50.512 161.377 50.946 161.041 52.01C160.929 52.36 160.887 52.752 160.887 53.172V56H159.109ZM164.115 52.43C164.115 50.162 165.459 48.692 167.349 48.692C168.917 48.692 169.407 49.602 169.407 49.602H169.435C169.435 49.602 169.421 49.42 169.421 49.196V46.06H171.199V56H169.519V55.412C169.519 55.146 169.547 54.95 169.547 54.95H169.519C169.519 54.95 168.917 56.168 167.279 56.168C165.347 56.168 164.115 54.642 164.115 52.43ZM165.907 52.43C165.907 53.788 166.635 54.67 167.685 54.67C168.609 54.67 169.477 53.998 169.477 52.416C169.477 51.31 168.889 50.218 167.699 50.218C166.719 50.218 165.907 51.016 165.907 52.43Z"
              fill="white"/>
        </svg>
      </div>
      <div v-if="!isCollapsed" key="menu" class="overflow-y-auto">
        <Menu :menuItems="menuData" :isCollapsed="isCollapsed"/>
      </div>
      <div class="mt-auto border-top-1 border-white-alpha-10">
        <ul class="p-2 m-0 origin-bottom animation-duration-150 overflow-hidden animation-ease-in-out">
          <li>
            <a v-ripple
               class="flex align-items-center cursor-pointer p-3 text-gray-300 transition-duration-150 transition-colors p-ripple">
              <i class="pi pi-globe mr-2"></i>
              <span v-if="!isCollapsed" class="font-medium">Public Clubs Website</span>
            </a>
          </li>
          <li>
            <a v-ripple
               class="flex align-items-center cursor-pointer p-3 text-gray-300 transition-duration-150 transition-colors p-ripple">
              <i class="pi pi-sign-out mr-2"></i>
              <span v-if="!isCollapsed" class="font-medium">Sign Out</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style scoped>
.sidebar {
  width: 280px;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.clubs_sidebar {
  position: relative;
}

.sidebar.collapsed {
  width: 60px;
}

.clubs-sidebar-toggle {
  position: absolute;
  top: 25px;
  right: -14px;
  width: 20px;
  height: 105px;
  box-shadow: 0 0 10px rgba(0, 0.1, 0.1, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0 15px 15px 0;
  background: #2e3743;
  color: #fff;
  z-index: -1;
  border-right: 1px solid #465161;
  transition: transform 0.3s ease-in-out;
}

.clubs-sidebar-toggle i {
  font-size: 13px;
  color: #333;
  border: 1px solid black;
  padding: 4px;
  border-radius: 15px;
  position: absolute;
  top: .2rem;
  right: -.6rem;
  background: white;
  transition: transform 0.3s ease-in-out;
}

.logo svg {
  transition: opacity 0.3s ease-in-out;
}

.sidebar.collapsed .logo svg {
  opacity: 0;
}
</style>