<template>
    <div>
        {{ product }}
        <br>
        <br>
        <PrimeButton @click="fetchProduct" label="Disply a new product" />

    </div>
</template>

<script setup>
const id = ref(1)
/* const {data: product, refresh } = await useFetch(() => {
    return `https://fakestoreapi.com/products/${id.value}`
}) */

const {data: product, refresh } = await useFetch('https://fakestoreapi.com/products/1',{ key: 'product'})

console.log(product.value);

const fetchProduct = async () =>{
    ++id.value,
    console.log(`id : ${id.value}`)
    await refresh()
}


</script>

<style lang="scss" scoped>

</style>