<template>
    <div>
        {{ product }}
        <br>
        <br>
        <PrimeButton @click="fetchData" label="Disply a new product" />

    </div>
</template>

<script setup>
const id = ref(1)
/* const {data: product, refresh } = await useFetch(() => {
    return `https://fakestoreapi.com/products/${id.value}`
}) */

const {data: product, refresh } = await useFetch('https://fakestoreapi.com/products/1')

console.log(product.value);

const fetchData = () => {
    const interval =setInterval( async() => {
        await refresh()
        console.log(product.value)
    }, 1)

    setTimeout(() => {
        clearInterval(interval)
    }, 2000);
}


</script>

<style lang="scss" scoped>

</style>