<template>
    <div>
{{ posts }}
    </div>
</template>

<script setup>

const { data: posts} = await useFetch
('posts/1',{
    baseURL: 'https://jsonplaceholder.typicode.com',
    method: 'put',
    body: {
        "userId": 1,
        "title": "rj data updated",
        "body": "quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto"
    }
})

</script>

<style lang="scss" scoped>

</style>