<template>
    <div>
        {{ product }}
        <br>
        <br>
        <PrimeButton @click="incrementId" label="Disply a new product" />

    </div>
</template>

<script setup>
    const id = ref(1)
    const {data: product } = await useFetch(() => {
        return `https://fakestoreapi.com/products/${id.value}`
    },{
        watch: [id], // false
        transform: (product) => {
            console.log(product)
            return product

        }
    })

    const incrementId = async () =>{
        id.value++
        console.log(id.value)
    }



</script>

<style lang="scss" scoped>

</style>