<template>
    <div>
        <h1>No layout</h1>
        <ul>
            <li v-for="category in 10"  :key="category">
            <NuxtLink :to="`/categories/category-${category}`" >Category {{ category }}</NuxtLink>
            </li>
        </ul>

    </div>
</template>

<script setup>
definePageMeta({
    layout: false
})

</script>

<style lang="scss" scoped>

</style>