<template>
  <div>
    <p v-if="error"> {{error}}</p>
    <p v-else>{{product}}</p>
  </div>
</template>

<script setup>
  const route = useRoute()
  const id = Number(route.params.id)
  const { data: product, error} = await useFetch(`https://fakestoreapi.com/products/${id}`, {

  })

  if(!product.value){
    throw createError({
      statusCode: 404,
      message: 'Page Not Found! custom'
    })
  }

  console.log(error)

</script>

<style lang="scss" scoped>

</style>