<template>
    <div>
        <NuxtLayout name="custom">
            <h1>Name : {{ $route.params.id }}</h1>
        </NuxtLayout>
       

    </div>
</template>

<script setup>

    definePageMeta({
        middleware: [
            function(to) {
                if(to.params.id === '1')
                return navigateTo('/')
                if(to.params.id === '2')
                return abortNavigation()
                if(to.params.id === '3')
                return abortNavigation('Id should not be 3')
                console.log('Everything is fine')

            }
        ]
    })

</script>

<style lang="scss" scoped>

</style>