body{
    margin: 0;
}
li.active-menuitem{
    /*background-color: var(--bluegray-700) !important; #D96153*/
    background-color: #FFE6E3;
    border-radius: 0px 30px 30px 0px;
    color: #D96153 !important;
}

li.active-menuitem a{
    color: #D96153 !important;
}

.clubs-sidebar-menu li:hover, .clubs-sidebar-menu li a:hover{
    border-radius: 0px 30px 30px 0px !important;
    color: #D96153 !important;
}