<script setup>
import Sidebar from '~/layouts/components/admin/Sidebar.vue'
import Header from '~/layouts/components/admin/Header.vue'
import MainContent from '~/layouts/components/admin/MainContent.vue'
</script>

<<template>
  <div class="min-h-screen flex relative lg:static" style="background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);">
    <Sidebar />
    <div class="min-h-screen flex flex-column relative flex-auto">
      <Header />
      <MainContent>
        <slot />
      </MainContent>
    </div>
  </div>
</template>

<style scoped>
/* Add any styles specific to the admin layout */
</style>
