<script lang="ts" setup>
const route = useRoute()
</script>
<template>
    <div>
        <h1>Custom Layout</h1>
        <slot />
        <div>
            <div> Full path: {{ route.fullPath }} </div>
            <div>Params: {{ route.params }}</div>
            <div>Page Name: {{ route.name }}</div>
        </div>
    </div>
</template>