<script  setup>
const route = useRoute()
</script>
<template>
    <div>
        <h1>Default Layout Fo all</h1>
        <slot />
        <div>
            <div> Full path: {{ route.fullPath }} Rj</div>
            <div>Params: {{ route.params }}</div>
            <div>Page Name: {{ route.name }}</div>
        </div>
    </div>
</template>