<template>
    <div>
        <h1>About us</h1>
    </div>
</template>

<script setup>


    definePageMeta({
        middleware: [
            function(to, from) {
                console.log('About us page inline middleware')
            },
            'middleware-example'
        ]
    })
</script>

<style lang="scss" scoped>

</style>