<template>
    <div>
        <h1>Dynamic ID route {{ id }} </h1>

    </div>
</template>

<script setup>

    const route = useRoute()
    const id    = route.params.id

    definePageMeta({
        validate: async (r) => {
           return /^\d+$/.test(r.params.id) 
        }
    })


</script>

<style lang="scss" scoped>

</style>