<template>
    <div>
        <h2 class="animate__animated animate__bounce">Asset and css Sample</h2>
        <h4>Image from Public</h4>
        <img width="20%" src="/images/nuxt.png" alt="Image from public" />
        <h4>Image from Assets</h4>
        <img width="20%" src="/assets/images/nuxt-asset.png" alt="Image from public" />
        <p>
            Sample Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus necessitatibus repellat sint nobis veritatis accusantium excepturi? Sit debitis soluta nisi harum error voluptatibus explicabo ipsum excepturi delectus, in, laboriosam ea?
        </p>
        <Head>
            <Title>
                Asset page titile from component
            </Title>
        </Head>
    </div>
</template>

<script setup>
    useHead({
        title: 'Asset and CSS tuto Page'
    })
    
    useSeoMeta({
        title: 'Asset and CSS tuto Page for SEO'
    })

import '~/assets/styles/style.css'

</script>

<style scoped>
@import '~/assets/styles/custom-style.css';

h4 {
    color: red;
}
</style>