<template>
  <div>
    <h1>Hello world</h1>
    <PrimeButton @click="enableCustomLayout">
      <template #dropdownicon>
        <font-awesome-icon :icon="['fas', 'house']" />
      </template>
      Set Custom Layout
    </PrimeButton>

    <PrimeDropdown>
      <template #dropdownicon>
        <font-awesome-icon :icon="['fas', 'house']" />
      </template>
    </PrimeDropdown>



    <PrimeIconField iconPosition="left">
      <PrimeInputIcon>
        <font-awesome-icon :icon="['fas', 'user']" />
      </PrimeInputIcon>
      <PrimeInputText v-model="value" placeholder="Search" />
    </PrimeIconField>

    <PrimeIconField iconPosition="left">
      <PrimeInputIcon>
        <font-awesome-icon :icon="['fas', 'user']" />
      </PrimeInputIcon>
      <PrimeButton @click="enableCustomLayout"> GGG </PrimeButton>
    </PrimeIconField>

    <PrimeButton outlined class="border-2">
      <font-awesome-icon :icon="['fas', 'user']" /> sdfsdf
    </PrimeButton>



    <PrimeButton class="youtube " aria-label="Youtube">
      <font-awesome-icon :icon="['fas', 'user']" />
      <span class="px-3">Youtube</span>
    </PrimeButton>



  </div>
</template>
<script setup>


const enableCustomLayout = () => {
  setPageLayout('custom')
}

</script>

<style  >
.my-icon {
  color: red; /* Or any other test style */
}
</style>

