<template>
    <div>
        <h1>Product {{ $route.params.product }}</h1>
        <div>
            <h2>Category: {{ $route.params.category }}</h2>
        </div>

    </div>
</template>

<script setup>

</script>

<style lang="scss" scoped>

</style>