<template>
    <div>
        <NuxtLayout name="custom">
        <h1>Category Page: {{ $route.params.category }} </h1>
        <ul>
            <li v-for="product in 10" :key="product">
                <NuxtLink :to="`/categories/${$route.params.category}/product-${product}`">
                    Product {{ product }}
                </NuxtLink>
            </li>

        </ul>
        </NuxtLayout>
    </div>
</template>

<script setup>

</script>

<style >

</style>