<template>
    <div>
        <h1>{{ $route.params.name }}</h1>
        <Head>
            <Title>{{ $route.params.name }}</Title>
        </Head>
    </div>
</template>

<script setup>
    definePageMeta({
        layout:'custom',
        middleware: [
            'denyNoor'
        ]
    })

</script>

<style lang="scss" scoped>

</style>